# Counts and Combinatorics
## Data Science 350

In this notebook we will explore count data and combinatorics. Event data is typically analyzed as counts for the number of each type of event that occurs. Determining the number of possible outcomes is key to computing the chances of an event occuring. This branch of mathematics is known as **combinatorics**.
![](img/Boom.jpg)

### Counting and Combinatorics

Combinatorics of the biggest areas of mathematics. We apply combinatorics to compute the possible combinations or permutations of an combinationn of events. 

For example, we can use combinatorics to compute the number of possible sandwiches we can order at a sandwich shop with a limited menu, 4 bread choices, 5 meat choices, 4 toppings.  How many sandwich unique sandwich combination can we order by picking  one item from each category?   

$$4 * 5 * 4 = 80$$

You can see that for this problem we just need to multiple the number of choices for each class. This is an example of the **multiplication principle** of combinatorics.

In the above example there is no dependncy of our choice from one category to anyother. Consequently, we can find all of the possible combinations by simple multiplication. 

This is not always the case. Let's look at an example where each event changes the subsequent possible events. Let's say I go to a pub and I want to order a 4-beer taster, with each beer being unique. The pub has 10 beers on tap. How many possible choices do I have for my taster? Fortunately I know `python`, so I can use the `python` `itertools.combinations` function to build a table of all possible combinations of my 4-beer taster!

In [1]:
import numpy
import itertools
import pandas

In [2]:
c = numpy.array(list(itertools.combinations(range(10), 4)))
c.shape
c[:10]

array([[0, 1, 2, 3],
       [0, 1, 2, 4],
       [0, 1, 2, 5],
       [0, 1, 2, 6],
       [0, 1, 2, 7],
       [0, 1, 2, 8],
       [0, 1, 2, 9],
       [0, 1, 3, 4],
       [0, 1, 3, 5],
       [0, 1, 3, 6]])

The function builds a table of all combinations of 4 items chosen from a list of 10. The second dimension tells me how many combinations there are.

### Sandwich combinatorics
 
 Let's investigate the sandwich shop example in a bit more detail. The code in the cell below creates three vectors containing the possible choices for bread, meat and topping. Execute this code.

In [3]:
##-----Sandwich Count----
breads = ['white', 'wheat', 'italian', 'sevengrain']
meats = ['ham', 'turkey', 'chicken', 'pastrami', 'meatballs']
toppings = ['mustard', 'mayo', 'salt_pepper', 'oil_vinegar']

To make our calculations simple, we can create a table or grid of all the possible sandwich choices. Execute the code in the cell below to create a grid or table of the possible sandwich choices, using the ```expand.grid``` function.

In [4]:
next(itertools.product(breads, meats, toppings))

('white', 'ham', 'mustard')

In [5]:
sandwiches = pandas.DataFrame(
    list(itertools.product(breads, meats, toppings)), 
    columns=['breads', 'meats', 'toppings'])
print(len(sandwiches))
sandwiches.head(20)

80

   breads      meats     toppings
0   white        ham      mustard
1   white        ham         mayo
2   white        ham  salt_pepper
3   white        ham  oil_vinegar
4   white     turkey      mustard
5   white     turkey         mayo
6   white     turkey  salt_pepper
7   white     turkey  oil_vinegar
8   white    chicken      mustard
9   white    chicken         mayo
10  white    chicken  salt_pepper
11  white    chicken  oil_vinegar
12  white   pastrami      mustard
13  white   pastrami         mayo
14  white   pastrami  salt_pepper
15  white   pastrami  oil_vinegar
16  white  meatballs      mustard
17  white  meatballs         mayo
18  white  meatballs  salt_pepper
19  white  meatballs  oil_vinegar

As expected, there are 80 possible sandwich types enumerated in the table.

***
**Your turn:** In the cell below, redo the sandwich shop example with three types of cheese added to the menu, chedar, american, swiss. How many unique sandwiches can you now order, and does the table show all the purmuations?
***

In [6]:
cheese = ['chedar', 'american', 'swiss']

sandwiches = pandas.DataFrame(
    list(itertools.product(breads, meats, toppings, cheese)),
    columns=['breads', 'meats', 'toppings', 'cheese'])

print(len(sandwiches))
sandwiches.head(20)

240

   breads   meats     toppings    cheese
0   white     ham      mustard    chedar
1   white     ham      mustard  american
2   white     ham      mustard     swiss
3   white     ham         mayo    chedar
4   white     ham         mayo  american
5   white     ham         mayo     swiss
6   white     ham  salt_pepper    chedar
7   white     ham  salt_pepper  american
8   white     ham  salt_pepper     swiss
9   white     ham  oil_vinegar    chedar
10  white     ham  oil_vinegar  american
11  white     ham  oil_vinegar     swiss
12  white  turkey      mustard    chedar
13  white  turkey      mustard  american
14  white  turkey      mustard     swiss
15  white  turkey         mayo    chedar
16  white  turkey         mayo  american
17  white  turkey         mayo     swiss
18  white  turkey  salt_pepper    chedar
19  white  turkey  salt_pepper  american

###  Factorials and purmuations

Factorials are a way to compute the number of ways to order $N$ things. We use the term **Purmutations** to describe the number of ways you can order some objects or events. This is where **factorials** arise:

$$Number\ of\ ways\ to\ order\ N\ things = N!$$  

Let's say you have 5 new books on probability you wish to put on a shelf (having read them cover-to-cover no doubt!). How many was can you order them:  

$$5 * 4 * 3 * 2 * 1 = 5! = 120$$

This is another application of the multiplication principle. 

Easy enough, so far. But let's say we want to find the number of purmutations of $k$ unique items chosen from $N$ total items. We can compute the number of possible purmuations as:

$$\frac{N!}{(N - k)!}$$

Let's revisit our beer example. The order I drink my 4 beers in the sampler might matter. Maybe the tasts will be a bit different if I drink stout before I drink a red ale? We saw the number of combinations previously. But, since order matters, I have many more purmuations:

$$\frac{10!}{(10 - 4)!} = 10 * 9 * 8 * 7 = 5040$$

****
**Your turn:** Let's say I am going to order a 5-beer taster and I care about order. In the cell below create the R code to compute how many permutations are there. Can you see how the number of purmuations gets large rather quickly? 
****

In [7]:
10 * 9 * 8 * 7 * 6

30240

### Computing factorials

Computing factorials can be tricky. A 64 bit unsigned integer can represent numbers as large as $2^{64} = 9.2E18$. However $21! = 5.1E19$. In practice, compuation of factorials is done on ratios to make the problem tractable. For example, we just wrote our beer example in a tractable form:

$$\frac{10!}{6!} = \frac{10!}{(10-4)!} = 10 * 9 * 8 * 7$$

We never had to actually compute the largest number $10!$. In fact, we just multipled 4 numbers. 

### Combinations

What if order does not matter? I may just want to find all unique combinations of k items of N choices. For example, for the beer example when order does not mater, there are $10$ choices and I want to pick $4$ unique choices. In the language of combintorics, we say that the above quantity is $10$ **choose** $4$, which can be writen:

$$\frac{10!}{4!(10 - 4)!} = \binom{10}{4}$$

We say that $N$ choose $k$ is a **combinations** since order does not matter. More generally we compute combinations with the formula:

$$\frac{N!}{k!(N - k)!} = \binom{N}{k}$$

From these forumlas you can see that there are $k!$ combinations than purmutations.

For our example, we can visualize how this process works with **Pascal's triangle**. You can see an example below. 

![](img/Pascal.jpg)

In this case we find $10$ choose $4$ by counting down 10 rows and over 4 elements. Vola! we have the value we expect! 

Notice that Pascal's triangle is symetric. This illustrates an important symetry property of combinations. Notice that:

$$\binom{N}{k} = \binom{N}{N-k}$$

***
**Your turn:** Use the `scipy.special.comb` function to compute the number of 4-beer tasters you could create from 10 taps.
***

In [8]:
import scipy
import scipy.special

scipy.special.comb(10, 4, exact=True)

210

***
**Fun note:** there are $52!$ ways to shuffle deck of cards, or combinations. It is likely that each suffle is unique in the history of the world!
***

## Summary

In this notebook we have covered the following topics:

1. Factorials ($N!$) are the number of ways to order N things.
2. Permutations
  - Ordering maters!
  - The number of ways to order k things from N choices: 
  $$p(k,N) = \frac{k!}{(N - k)!}$$.
3. Combinations  
  - Ordering does not matter.
  - The number of ways to group (combinations) of k things from N choices:
  $$c(k,N) = \frac{N!}{k!(N - k)!} = \binom{N}{k}$$